/* RESET */
html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

hr {
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fcfcfc;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* HEADER */
.header {
  background-color: #202329;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.header__logo__img {
  display: block;
  height: 2.3rem;
  width: auto;
}

.header__logo__text {
  color: #1bcacd;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

.header__nav {
  height: 100%;
  display: flex;
  line-height: 1;
  margin-right: -1rem;
}

.header__nav__link {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.header__nav__link__svg {
  fill: #6d6d6d;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
}

.header__nav__link:focus {
  background-color: #373940;
}

@media (min-width: 576px) {
  .header__nav__link {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .header {
    height: 5rem;
  }
  .header__logo__text {
    font-size: 2.2rem;
  }
  .header__nav {
    margin-right: -1.5rem;
  }
  .header__nav__link {
    margin-left: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .header__nav__link__svg {
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 6rem;
  }
  .header__nav__link {
    transition: color 0.2s;
  }
  .header__nav__link:hover {
    color: #1bcacd;
  }
}

/* PAGE WRAP */
.page-wrap {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .page-wrap {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .page-wrap {
    max-width: 1200px;
  }
}

/* CONTENT WRAP */
.content-wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* CAROUSEL WRAP */
@media (min-width: 768px) {
  .carousel-wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* BANNER */
.banner {
  color: #fff;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
}

.banner__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #272c34;
  transform: skewY(-1.5deg);
  transform-origin: top left;
}

.banner__content {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;
  z-index: 1;
}

.banner__heading {
  color: #1bcacd;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner__subheading {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 3rem;
}

.banner__button {
  background-color: #1bcacd;
  color: #272c34;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  font-weight: 400;
}

.banner__link {
  color: #1bcacd;
  text-decoration: none;
  font-weight: 400;
  margin-left: 1.5rem;
}

@media (min-width: 576px) {
  .banner__content {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }
  .banner__link {
    margin-left: 2.5rem;
  }
}

@media (min-width: 768px) {
  .banner {
    padding-top: 5rem;
  }
  .banner__content {
    padding-top: 9rem;
    padding-bottom: 10rem;
  }
  .banner__heading {
    font-size: 5rem;
  }
  .banner__subheading {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .banner__button {
    transition: background-color 0.2s;
    font-size: 1.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .banner__button:hover {
    background-color: #ffffff;
  }
  .banner__link {
    transition: color 0.2s;
    font-size: 1.8rem;
  }
  .banner__link:hover {
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .banner {
    padding-top: 6rem;
  }
  .banner__heading {
    font-size: 6rem;
  }
  .banner__subheading {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .banner__button {
    transition: background-color 0.2s;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .banner__button:hover {
    background-color: #ffffff;
  }
  .banner__link {
    transition: color 0.2s;
    font-size: 2rem;
  }
  .banner__link:hover {
    color: #ffffff;
  }
}

/* EMBLA */
.embla {
  position: relative;
  margin-bottom: 5rem;
}

.embla__viewport {
  overflow: hidden;
  position: relative;
}

.embla__viewport.draggable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.embla__container {
  display: flex;
  will-change: transform;
  margin-left: -1rem;
}

.embla__slide {
  flex: 0 0 auto;
  position: relative;
  width: 80%;
  padding-left: 1rem;
  counter-increment: embla;
}

.embla__slide__inner {
  position: relative;
  background-color: #272c34;
  min-height: 200px;
  padding-bottom: 50%;
  border-radius: 0.7rem;
  overflow: hidden;
}

.embla__slide__inner:before {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  content: counter(embla);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embla__slide__inner:after {
  position: absolute;
}

.embla__nav {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.embla__nav__svg {
  fill: rgba(32, 35, 41, 0.85);
  fill: #1bcacd;
  width: 3.5rem;
  height: 3.5rem;
}

.embla__nav--prev {
  left: 1.5rem;
}

.embla__nav--next {
  right: 1.5rem;
}

.embla__dots {
  position: absolute;
  margin-top: 1rem;
  margin-left: -1.5rem;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  left: 0;
  right: 0;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
}

.embla__dot {
  display: flex;
  margin-left: 1.5rem;
}

.embla__dot__button {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
  border: 0;
  display: flex;
  align-items: center;
}

.embla__dot__button:after {
  background-color: #272c34;
  opacity: 0.1;
  content: '';
  width: 100%;
  height: 0.4rem;
}

.embla__dot--selected:after {
  background-color: #1bcacd;
  opacity: 1;
}
