# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
packages/embla-carousel*/index.d.ts
packages/embla-carousel*/embla-carousel*
packages/embla-carousel*/components
packages/embla-carousel*/esm
packages/embla-carousel*/cjs


# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dependencies
node_modules
/.pnp
.pnp.*

# testing
coverage

# misc
.cache
.DS_Store
*.pem

# env files (can opt-in for committing if needed)
.env*

# next.js
/website/.next/

# production
/website/build

# vercel
/website/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts