# production
packages/embla-carousel/index.d.ts
packages/embla-carousel/embla-carousel.*
packages/embla-carousel/embla-carousel-vanilla
packages/embla-carousel/embla-carousel-react
packages/embla-carousel/react
packages/embla-carousel/react.*
public

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.cache
.DS_Store

# dotenv
.env*