# production
packages/embla-carousel*/index.d.ts
packages/embla-carousel*/embla-carousel*
packages/embla-carousel*/components

packages/embla-carousel*/cjs/index.d.ts
packages/embla-carousel*/cjs/embla-carousel*
packages/embla-carousel*/cjs/components

packages/embla-carousel*/esm/index.d.ts
packages/embla-carousel*/esm/embla-carousel*
packages/embla-carousel*/esm/components

public
static
docs

# yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.cache
.DS_Store
package-lock.json
yarn.lock