language: node_js
node_js:
  - '10'

install:
  - npm install
script:
  - npm run lint
  - npm run test

jobs:
  include:
    - stage: npm release
      if: tag IS present
      node_js: '8'
      deploy:
        provider: npm
        email: '$NPM_EMAIL'
        api_key: '$NPM_TOKEN'
        skip_cleanup: true
        on:
          tags: true
