.banner {
  color: $color-lisbon;
  position: relative;
  overflow: hidden;

  @include header-size('padding-top');
}

.banner__decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-london;
  transform: skewY(-1.5deg);
  transform-origin: top left;
}

.banner__content {
  position: relative;
  z-index: 1;
  padding-top: 4rem;
  padding-bottom: 5rem;

  @media (min-width: $media-xs) {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }

  @media (min-width: $media-sm) {
    padding-top: 9rem;
    padding-bottom: 10rem;
  }
}

.banner__heading {
  color: $color-brand;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;

  @media (min-width: $media-sm) {
    font-size: 5rem;
  }
  @media (min-width: $media-lg) {
    font-size: 6rem;
  }
}

.banner__subheading {
  font-size: 1.6rem;
  font-weight: 200;
  margin-bottom: 3rem;

  @media (min-width: $media-sm) {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  @media (min-width: $media-lg) {
    font-size: 2.9rem;
    margin-bottom: 5rem;
  }
}

.banner__button {
  background-color: $color-brand;
  color: $color-london;
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  font-weight: 400;

  @media (min-width: $media-sm) {
    font-size: 1.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
  @media (min-width: $media-lg) {
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-lisbon;
    }
  }
}

.banner__link {
  color: $color-brand;
  text-decoration: none;
  font-weight: 400;
  margin-left: 1.5rem;

  @media (min-width: $media-xs) {
    margin-left: 2.5rem;
  }
  @media (min-width: $media-sm) {
    font-size: 1.8rem;
  }

  @media (min-width: $media-lg) {
    font-size: 2rem;
    transition: color 0.2s;

    &:hover {
      color: $color-lisbon;
    }
  }
}
