.embla {
  position: relative;
  margin-bottom: 2.7rem;
  background-color: darken($color-prague, 1%);
  margin-right: -2rem;
  margin-left: -2rem;

  @media (min-width: $media-xs) {
    margin-right: 0;
    margin-left: 0;
  }
}

.embla__viewport {
  overflow: hidden;
  position: relative;

  &.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &.is-dragging {
    cursor: grabbing;
  }
}

.embla__container {
  display: flex;
  margin-left: -0.5rem;

  @media (min-width: $media-xs) {
    margin-left: -0.8rem;
  }
  @media (min-width: $media-sm) {
    margin-left: -1rem;
  }
}

.embla__slide {
  flex: 0 0 auto;
  position: relative;
  width: 80%;
  padding-left: 0.5rem;
  counter-increment: embla;

  @media (min-width: $media-xs) {
    padding-left: 0.8rem;
  }
  @media (min-width: $media-sm) {
    padding-left: 1rem;
  }
}

.embla__slide__inner {
  display: block;
  background-color: $color-london;
  position: relative;
  border-radius: 0.5rem;
  min-height: 170px;
  padding-bottom: 45%;
  font-size: 3rem;

  @media (min-width: $media-sm) {
    padding-bottom: 46%;
    font-size: 4.2rem;
  }
  @media (min-width: $media-lg) {
    font-size: 5rem;
  }

  &:before {
    color: $color-lisbon;
    font-weight: 300;
    line-height: 1;
    content: counter(embla);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.embla__nav {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 5rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: none;

  @media (min-width: $media-sm) {
    display: flex;
  }
}

.embla__nav:not(:disabled) {
  cursor: pointer;
  fill: $color-brand;
}

.embla__nav:disabled {
  fill: #e9e9e9;
}

.embla__nav__svg {
  width: 3.5rem;
  height: 3.5rem;
}

.embla__nav--prev {
  left: 0.7rem;
}

.embla__nav--next {
  right: 0.7rem;
}

.embla__dots {
  position: absolute;
  margin-top: 1rem;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  left: 0;
  right: 0;
  top: 100%;
}

.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border: 0;
  display: flex;
  align-items: center;

  &:after {
    background-color: #efefef;
    width: 100%;
    height: 0.4rem;
    content: '';
  }

  &.is-selected:after {
    background-color: #1bcacd;
    opacity: 1;
  }
}
