.examples {
  @media (min-width: $media-sm) {
    font-size: 1.7rem;
  }
  @media (min-width: $media-lg) {
    font-size: 1.8rem;
  }
}

.examples__description:not(:last-child) {
  margin-bottom: 2rem;
}
