.feature {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

  @media (min-width: $media-sm) {
    font-size: 1.7rem;
  }
  @media (min-width: $media-lg) {
    font-size: 1.8rem;
  }
}

.feature__bracket {
  font-weight: bold;
  color: $color-riga;
}

.feature__value {
  color: $color-brand;
}

.feature__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: lighten($color-london, 5%);

  @media (min-width: $media-lg) {
    &:hover {
      color: $color-brand;
    }
    transition: color 0.2s;
  }
}

.feature__link__svg {
  fill: $color-brand;
  margin-left: 0.6rem;
  width: 1.8rem;
  height: 1.8rem;

  @media (min-width: $media-sm) {
    margin-left: 1rem;
    width: 2.1rem;
    height: 2.1rem;
  }
}
