.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  line-height: 1.7;

  @media (min-width: $media-sm) {
    font-size: 1.7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @media (min-width: $media-lg) {
    font-size: 1.8rem;
  }
}

.footer__icon-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  margin-left: -1rem;

  @media (min-width: $media-lg) {
    padding-top: 3rem;
    margin-left: -1.5rem;
  }
}

.footer__icon-link {
  font-size: 0;
  margin-left: 1rem;

  @media (min-width: $media-lg) {
    margin-left: 1.5rem;
  }
}

.footer__icon-javascript {
  height: 4rem;
  width: 4rem;

  @media (min-width: $media-lg) {
    height: 5rem;
    width: 5rem;
  }
}

.footer__icon-react {
  height: 4rem;
  width: 4.485rem;

  @media (min-width: $media-lg) {
    height: 5rem;
    width: 5.6rem;
  }
}
