html {
  font-size: 62.5%;
}

body {
  color: $color-london;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

body:not(.user-is-tabbing) a,
body:not(.user-is-tabbing) button {
  outline: 0;
}
