.styled-link {
  color: $color-london;
  background-color: lighten($color-brand, 40%);
  text-decoration: none;
  border-bottom: 1px solid $color-brand;

  @media (min-width: $media-lg) {
    &:hover {
      background-color: lighten($color-brand, 20%);
    }
  }
}
