.examples {
  padding-top: 8rem;
  padding-bottom: 8rem;
  max-width: 67rem;
  margin-left: auto;
  margin-right: auto;
}

.examples__h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 900;
}

.examples__h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: bold;
}
