.embla__slide:nth-child(1) {
  flex: 0 0 60%;
}

.embla__slide:nth-child(2) {
  flex: 0 0 40%;
}

.embla__slide:nth-child(3) {
  flex: 0 0 80%;
}

.embla__slide:nth-child(4) {
  flex: 0 0 25%;
}

.embla__slide:nth-child(5) {
  flex: 0 0 70%;
}
